    # Base16 {{scheme-name}} - fish color config
    # {{scheme-author}}
    set fish_color_autosuggestion "#{{base03-hex}}"
    set fish_color_cancel -r
    set fish_color_command "#{{base0D-hex}}"
    set fish_color_comment "#{{base02-hex}}"
    set fish_color_cwd green
    set fish_color_cwd_root red
    set fish_color_end "#{{base0C-hex}}"
    set fish_color_error "#{{base08-hex}}"
    set fish_color_escape "#{{base09-hex}}"
    set fish_color_history_current --bold
    set fish_color_host normal
    set fish_color_host_remote yellow
    set fish_color_match --background=brblue
    set fish_color_normal normal
    set fish_color_operator "#{{base09-hex}}"
    set fish_color_param "#{{base06-hex}}"
    set fish_color_quote "#{{base0B-hex}}"
    set fish_color_redirection "#{{base0E-hex}}"
    set fish_color_search_match bryellow --background=brblack
    set fish_color_selection white --bold --background=brblack
    set fish_color_status red
    set fish_color_user brgreen
    set fish_color_valid_path --underline
    set fish_pager_color_completion normal
    set fish_pager_color_description "#{{base0C-hex}}" yellow
    set fish_pager_color_prefix white --bold --underline
    set fish_pager_color_progress brwhite --background=cyan
