# Base16 {{scheme-name}} - openbox FlatColor color config
# {{scheme-author}}
## windows

# borders
window.active.border.color: #{{base00-hex}}
window.inactive.border.color: #{{base00-hex}}
window.active.title.separator.color: #{{base0C-hex}}
window.inactive.title.separator.color: #{{base0C-hex}}
window.active.client.color: #{{base0C-hex}}
window.inactive.client.color: #{{base0C-hex}}

# labels
window.active.label.text.color: #{{base01-hex}}
window.inactive.label.text.color: #{{base03-hex}}

# backgrounds
window.active.title.bg.color: #{{base0C-hex}}
window.active.label.bg.color: #{{base0C-hex}}
window.inactive.title.bg.color: #{{base0D-hex}}
window.inactive.label.bg.color: #{{base0D-hex}}

# buttons active
window.active.button.unpressed.image.color: #{{base01-hex}}
window.active.button.disabled.image.color: #{{base05-hex}}
window.active.button.hover.image.color: #{{base0A-hex}}
window.active.button.toggled.unpressed.image.color: #{{base01-hex}}
window.active.button.toggled.hover.image.color: #{{base0A-hex}}

# buttons inactive
window.inactive.button.unpressed.image.color: #{{base0D-hex}}
window.inactive.button.disabled.image.color: #{{base0D-hex}}
window.inactive.button.hover.image.color: #{{base0D-hex}}
window.inactive.button.toggled.unpressed.image.color: #{{base0D-hex}}
window.inactive.button.toggled.hover.image.color: #{{base0D-hex}}

# buttons pressed
window.active.button.pressed.image.color: #{{base08-hex}}
window.active.button.toggled.pressed.image.color: #{{base08-hex}}
window.inactive.button.pressed.image.color: #{{base08-hex}}
window.inactive.button.toggled.pressed.image.color: #{{base08-hex}}

## menu
menu.border.color: #{{base00-hex}}
menu.separator.color: #{{base02-hex}}

menu.items.bg.color: #{{base00-hex}}
menu.items.active.bg.color: #{{base00-hex}}
menu.title.bg.color: #{{base00-hex}}

menu.title.text.color: #{{base06-hex}}
menu.items.text.color: #{{base05-hex}}

menu.items.disabled.text.color: #{{base05-hex}}
menu.items.active.text.color: #{{base0C-hex}}
menu.items.active.disabled.text.color: #{{base00-hex}}

## osd
osd.border.color: #{{base0C-hex}}
osd.label.text.color: #{{base06-hex}}
osd.bg.color: #{{base00-hex}}
osd.hilight.bg.color: #{{base0A-hex}}
osd.label.bg.color: #{{base00-hex}}
