#{{base00-hex}}
#{{base08-hex}}
#{{base0B-hex}}
#{{base0A-hex}}
#{{base0D-hex}}
#{{base0E-hex}}
#{{base0C-hex}}
#{{base06-hex}}
#{{base04-hex}}
#{{base00-hex}}
#{{base0B-hex}}
#{{base0A-hex}}
#{{base0D-hex}}
#{{base0E-hex}}
#{{base0C-hex}}
#{{base07-hex}}
