#!/bin/sh
[ "${TERM:-none}" = "linux" ] && \
    printf '%b' '\e]{{base00-hex}}
                 \e]{{base0B-hex}}
                 \e]{{base0A-hex}}
                 \e]{{base0D-hex}}
                 \e]{{base0E-hex}}
                 \e]{{base0C-hex}}
                 \e]{{base06-hex}}
                 \e]{{base04-hex}}
                 \e]{{base00-hex}}
                 \e]{{base0B-hex}}
                 \e]{{base0A-hex}}
                 \e]{{base0D-hex}}
                 \e]{{base0E-hex}}
                 \e]{{base0C-hex}}
                 \e]{{base07-hex}}
                 \e]{{base08-hex}}
                 \ec'